
.contenedor{
    width: 1000px;
    margin: auto;
}

.cabecera_padre{
    background-color: #5995DA;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .cabecera_hijo{
        width: 100px;
        height: 50px;
        border: solid 1px #000;

        display: flex;
        justify-content: center;
        align-items: center;
    }


.cuerpo_padre{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

    .cuerpo_hijo{
        background-color: #D6E9FE;
        border: solid 1px #D6E900;
        height: 100px;

        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }


.contenido_padre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

    .contenido_hijo{
        width: 300px;
        height: 150px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .uno{
        background-color: sandybrown;
        order: 5;
    }
    .dos{
        background-color: darkseagreen;
        order: 2;
    }
    .tres{
        background-color: gold;
        order: 3;
    }
    .cuatro{
        background-color: peachpuff;
        order: 4;
    }
    .cinco{
        background-color: lightcoral;
        order: 1;
    }


.pie_padre{
    background-color: #5995DA;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .pie_hijo{
        background-color: #D6E9FE;
        width: 600px;
        height: 60px;

        display: flex;
        justify-content: center;
        align-items: center;
    }



